.nonNavContainer { 
  padding-left: 100px;
  padding-top: 70px;
}

.hero {
  margin-top: 2em;
  margin-bottom: 2em;
}
.profile-img {
  box-shadow: 0 4px 24px rgba(0,0,0,0.2);
}
.about, .projects, .contact {
  margin: 2em auto;
  max-width: 600px;
  text-align: left;
}
